/* header */
.abas-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: right;
  gap: 4%;
  margin: 15px;
    padding:  10px;
    font-family: 'orbitron', monospace;
}

.aba{
  list-style: none;
  border-bottom: solid transparent;
  
}
.nav {
  padding: 0px 20px;
}

@keyframes pulseHeader {
  0% {
    background-position: 10% 50%;
    background-size: 150% 150%;
    filter: brightness(1);
  }
  100% {
    background-position: 90% 50%;
    background-size: 200% 200%;
    filter: brightness(1.1);
  }
}

.textSpan {
  color: #0daaa5;
  background: linear-gradient(90deg, #0daaa5, #0df0e9, #0daaa5);
  background-clip: content-box;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shineText 5s linear infinite;
    padding: 15px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
h4.textSpan:hover {
  color: #00f0ff;
  text-shadow: 0 0 1px #00f0ff;
  transition: 0.4s;
}

@keyframes shineText {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.aba:hover {
  border-bottom: solid #0daaa5;
  text-shadow: 0 0 5px #0daaa5;
  transition: all 0.3s ease;
}

/* sobre */

#sobre {
  gap: 1em;
  text-align: center;
}


.about-section, .skill-section, .project-section, .contact-section {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
  color: #ccc;
  font-family: 'Orbitron', monospace;
  line-height: 1.7;
  width: 100%;
  min-height: 100%;
}

.about-title, .skill-title, .project-title, .contact-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #00ffff;
  font-family: 'Fira Code', monospace;
  display: flex;
  gap: 10px;

}

.about-text {
  font-size: 1.1rem;
  color: #ccc;
}

.about-text strong {
  color: #fc4444;
}

/* Skills */

.box-skill-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
}
.skill-bar {
  width: 100%;
  height: 8px;
  background: #333;
  border-radius: 5px;
  margin-top: 3px;
}

.skill-fill-front {
  height: 100%;
  background: linear-gradient(90deg, #00f0ff, #00ff95);
  border-radius: 5px;
}
.skill:hover {
  transform: scale(1.01);
  transition: transform 0.2s ease;
}

@keyframes width {
  0% {
      width: 0%;
  }
  auto {
    width: 100%;
  }
}

.skill-fill-back {
  height: 100%;
  background: linear-gradient(90deg, #f535ff, #8000ff);
  border-radius: 5px;
}

@keyframes width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.skill-fill-front,
.skill-fill-back {
  height: 100%;
  border-radius: 5px;
  width: 0%;
  transition: width 2s ease-in-out;
}


.skill-inactive {
  color: #5b5a5a;
}
.bar {
  width: 100%;
  height: 5px;
  background: #22282d;
  border-radius: 10px;
  fill: #00ffff;
}

/* contato */
.social-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  font-family: 'orbitron', monospace;
}

.bi-linkedin, .bi-github{
  color: #849393;
  font-size: 2rem;
  font-family: 'Fira Code', monospace;
  padding: 10px;
  margin: 10px;
  transition: all 0.3s ease;
}

.box-asp{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  
}

.about-section,
.skill-section,
.project-section,
.contact-section {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  height: 100px;
}

.contact-section{
  height: 10px!important;
}
#contato {
  min-height: 20vh; /* ocupa a tela inteira */
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente */
  align-items: center;
  padding: 50px 0;
}


@media (max-width: 768px) {
  .about-section,
  .skill-section,
  .project-section  {
    min-height: auto;
    padding: 50px 20px;
}
}