@media screen and (max-width: 1080px ) {
    .container {
        width: 100%;
        padding: 40px;
        display: flex;
    }
    .bi-arrow-down{
        bottom: 4em;
    }
}

@media screen and (max-width: 1010px ) {
    .container {
        width: 100%!important;
        display: block;
            padding: 5em;
        text-align: center;
        }
    .bi-arrow-down{
top: 0;
    left: 1px;    }
}

@media screen and (max-width: 1055px) {
    .curriculo {
        width: 100%;
        padding: 10px;
        font-size: 18.6px;

    }
}

@media screen and (max-width: 760px) {
    .nav, .header, .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
    .container{
        padding: 0px 50px;
    }
    .bi-arrow-down{
        display: none;
    }
    .terminal-container{
        margin: 0 auto;
        border: solid 1px rgb(38, 0, 255);

        padding: 1rem;
    }
}

@media screen and (max-width: 630px) {
  .main-side pre {
    font-size: 0.75rem;  
}
.container{
    padding: 10px;
}

}

@media screen and (max-width: 550px) {
    .main-side pre {
    font-size: 0.65rem;
}

    .container{
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
 .main-side pre {
    font-size: 0.60rem;
  }
}

@media screen and (max-width: 450px) {
    .main-side pre {
    font-size: 0.55rem;
  }
}

@media screen and (max-width: 400px) {
    .main-side pre {
    font-size: 0.50rem;
  }
}

@media screen and (max-width: 380px) {
    .container .intro-container .terminal-container{
width: 100%;
border: solid 1px rgb(0, 255, 89);

    padding: 0 !important;
    font-size: small;
    height: 50px;
    }

    .main-side pre {
    font-size: 0.45rem;
    }
    .header{
font-size: 0.88em;
    text-align: center;
    }

}

@media screen and (max-width: 350px) {
    .container .intro-container .terminal-container{
width: 100%;
border: solid 1px red;
    padding: 0 !important;
    font-size: small;
    height: 50px;
    }

    .main-side pre {
    font-size: 0.40rem;
    padding: 0 !important;
    }
    .header{
font-size: 0.88em;
    text-align: center;
    }
    .curriculo, .seeMore{
        height: 50px;
        font-size: 1rem!important;
    }

}

@media screen {
  html:not(.no-js) [data-aos^="fade"][data-aos^="fade"] {
    opacity: 0;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform;
    height: auto;
  }
}