@media screen and (max-width: 1080px ) {
    .container {
        width: 100%;
        padding: 40px;
        display: flex;
    }
    .bi-arrow-down{
        bottom: 4em;
    }
}

@media screen and (max-width: 1010px ) {
    .container {
        width: 100%!important;
        display: block;
            padding: 5em;
        text-align: center;
        }
    .bi-arrow-down{
top: 0;
    left: 1px;    }
}

@media screen and (max-width: 1055px) {
    .curriculo {
        width: 100%;
        padding: 10px;
        font-size: 18.6px;

    }
}

@media screen and (max-width: 760px) {
    .terminal-container{
        width: max-content;
        padding: 0!important;
    }
    .header .nav{
        text-align: center;
        justify-content: center;
        padding: 0px 15px;
    }
    .main-side pre{
        white-space: pre-wrap;
        white-space: pre-line;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: -ms-pre-wrap;
        word-wrap: break-word;
       padding: 10px;
    }
    .bi-arrow-down{
        display: none;
    }
}

@media screen and (max-width: 630px) {
  .main-side pre {
    font-size: 0.75rem;  
}
.container{
    padding: 10px;
}

}

@media screen and (max-width: 550px) {
    .main-side pre {
    font-size: 0.65rem;
}

    .container{
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
 .main-side pre {
    font-size: 0.60rem;
  }
}

@media screen and (max-width: 450px) {
    .main-side pre {
    font-size: 0.55rem;
  }
}

@media screen and (max-width: 400px) {
    .main-side pre {
    font-size: 0.50rem;
  }
}


@media screen {
  html:not(.no-js) [data-aos^="fade"][data-aos^="fade"] {
    opacity: 0;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform;
    height: 100%;
  }
}